# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules/
.env
var

# dependencies
/.pnp
.pnp.js

# testing
tests/coverage/
tests/e2e/output/

# next.js
.next
out
build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
